<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #032a72;">
    <div class="container">
        <a class="navbar-brand" routerLink="/dashboard"><b>ChatBot</b></a>
        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarMobileToggle">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/create-bot">Create Bot</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/edit-bot">Edit Bot</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/stories">Stories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/entities">Entities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/webhooks">Webhooks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/console">Console</a>
                </li>
            </ul>

            <!-- Right Side -->
            <div class="btn-group float-end">
                <a routerLink="#" class="dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown">
                <i class="fa fa-user-circle-o fa-2x"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a routerLink="/forgot-password" class="dropdown-item"><i class="fa fa-unlock-alt"></i> Change Password</a>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a routerLink="#" class="dropdown-item"><i class="fa fa-cogs"></i> Settings</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a routerLink="/login" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
        </div>
       
    </div>
</nav>