<app-navigation></app-navigation>
<section class="vh-100" style="background-color:#093992;">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-left align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                            
                <ul class="list-group mt-5 text-white">
                    <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="d-flex flex-row">
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-1</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
          
                    <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="d-flex flex-row">
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-2</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
          
                    <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="d-flex flex-row">
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-3</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}} </span>
                                </div>
                            </div>
                        </div>
                    </li>
          
                    <li class="list-group-item d-flex justify-content-between align-content-center">
          
                        <div class="d-flex flex-row">
                            
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-4</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
          
                    <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="d-flex flex-row">
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-5</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="d-flex flex-row">
                            <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                            <div class="ml-2">
                                <h6 class="mb-0">Directive-6</h6>
                                <div class="about">
                                    <span>{{currentDate | date:'MM-dd-yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                  </ul>

                  <div class="text-center text-lg-end mt-4 pt-2">
                      <button type="button" class="btn btn-primary"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Next</button>  
                   </div>
               </div>
          </div>
       </div>
    </div>