<section class="vh-100" style="background-color: #093992;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <h3 class="mb-5">Login</h3>
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
            <a routerLink="/forgot-password" class="text-body">Forgot Password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                  class="link-danger">Register</a></p>
            </div>

        
  
          </form>
          </div>
        </div>
        </div>
      </div>
      </div>