<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<app-navigation></app-navigation>
<section class="vh-100" style="background-color:#093992;">
    <div class="container-fluid">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-left align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                   
                <!-- <div class="alert alert-warning">
                    <strong>Important!</strong> All files must be uploaded
                  </div> -->
                        <h3 class="mb-5">Upload Files</h3>
                
                    <form>
                        <h6>Upload NLU: <span class="required-field"></span></h6>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                        <div>&nbsp;</div>
                        <h6>Upload Domain: <span class="required-field"></span></h6>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                            <div>&nbsp;</div>
                        <h6>Upload Stories: <span class="required-field"></span></h6>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                            <div>&nbsp;</div>
                        <h6>Upload Actions: </h6>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                        </div>
                        <div class="btn-block mb-4" >
                        <label class="col-md control-label" for="upload"></label>
                        <button type="button" style="padding-left: 2.5rem; padding-right: 2.5rem;" class="btn btn-primary btn-l">Upload</button>
                         </div>
                        <div class="btn-block mb-4">
                            <label class="col-md control-label" for="submit"></label>
                        <button type="button" class="btn btn-primary btn-l mt-8 pt-1"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="submit()">Submit</button>
                            <a routerLink="/dashboard"></a> 
                        </div> 
                    


                        




                       
                    
                    </form>
            
                </div>
           
            </div>
       
        </div>
        </div>
    
    </div>
</div>
</section>

