<section class="vh-100" style="background-color: #093992;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-left align-items-center h-100">
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Upload File</h3>
                
                    <form>
                     
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                            <div>&nbsp;</div>

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                            <div>&nbsp;</div>

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>
                            <div>&nbsp;</div>

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>

                        <div class="text-center text-lg-end mt-6 pt-4">
                            <button type="button" class="btn btn-primary btn-l"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="submit()">Submit</button>
                            <a routerLink="/dashboard"></a> 
                        </div>

                       
                    
                    </form>
            
                </div>
           
            </div>
       
        </div>
    
    </div>

</div>