<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
<app-navigation></app-navigation>

<section class="wh-100" style="background-color:#093992;">
<div class="container py-2 h-100">
<!-- <div class="container-fluid"> -->
<div>
<div class="col col-xl-100">
<div class="card" style="border-radius: 1rem;">
<div class="card-body p-10 text-center">

<!-- <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
             <div class="container-fluid">
            <div class="card card-bordered"> -->
              
            <div class="card-header">
                <h4 class="card-title"><strong>Rasa Chat Portal</strong></h4>
                <a class="btn btn-xs btn-primary" data-abc="true">Let's Chat </a>
              </div>


              <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height: 750px;">
                <div class="media media-chat">
                    <div class="d-flex flex-row justify-content-start mb-4">
                  <img class="avatar" src="https://img.icons8.com/office/36/000000/person-female.png" alt="...">
                  <div class="media-body">
                    <div>&nbsp;</div>
                    <p>Hi</p>
                    <p>I am Chatbot<br> How can I help you today?</p>
                  </div>
                  </div>
                </div>

                <div class="media media-meta-day">Today</div>
                <div class="media media-chat media-chat-reverse">
                    <div class="d-flex flex-row justify-content-end mb-4">
                  <div class="media-body">
                    <p>Hiii, I'm good.</p>
                    <p>What features do you have available ?</p>
                    </div>
                  </div>
                </div>

                <div class="media media-chat">
                    <div class="d-flex flex-row justify-content-start mb-4">
                  <img class="avatar" src="https://img.icons8.com/office/36/000000/person-female.png" alt="...">
                  <div class="media-body">
                    <div>&nbsp;</div>
                    <p>Mmmmmm</p>
                    <p>Let me give you the details</p>
                    <p>I am powered by AI, I can reply to conversations</p>
                  </div>
                  </div>
                  
                </div>

                <div class="media media-chat media-chat-reverse">
                    <div class="d-flex flex-row justify-content-end mb-4">
                  <div class="media-body">
                    <p>That's awesome!</p>
                  </div>
                  </div>
                </div>

                <div class="media media-chat">
                    <div class="d-flex flex-row justify-content-start mb-4">
                  <img class="avatar" src="https://img.icons8.com/office/36/000000/person-female.png" alt="...">
                  <div class="media-body">
                    <div>&nbsp;</div>
                    <p>Is there anything I can help you with ?</p>
                  </div>
                    </div>
                </div>

                <div class="media media-chat media-chat-reverse">
                    <div class="d-flex flex-row justify-content-end mb-4">
                  <div class="media-body">
                    <p>Can you perform mathematical operations ? </p>
                  </div>
                  </div>
                </div>

                <div class="media media-chat">
                    <div class="d-flex flex-row justify-content-start mb-4">
                  <img class="avatar" src="https://img.icons8.com/office/36/000000/person-female.png" alt="...">
                  <div class="media-body">
                    <div>&nbsp;</div>
                    <p>Sorry I cannot.</p>
                  </div>
                  </div>
                </div>

              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

              <div class="publisher bt-1 border-light">
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <input class="publisher-input" type="text" placeholder="Type your message">
                <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span>
                <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
              </div>

             </div>
          </div>
          </div>
          </div>
          <!-- </div> -->
          </div>
          
</section>