
<section class="vh-100" style="background-color:#093992;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Upload Files</h3>

          <form>
            
              
              <div class="form-outline mb-4">
                <h4 >Upload NLU</h4>
                <input type="file" class="form-control form-control-lg" id="uploadnlu"/>
               
            </div>
            <div class="form-outline mb-4">
                <h4 >Upload Domain</h4>
                <input type="file" class="form-control form-control-lg" id="uploaddomain"/>
                
            </div>
            <div class="form-outline mb-4">
                <h4 >Upload Stories</h4>
                <input type="file" class="form-control form-control-lg" id="uploadstories"/>
      
            </div>
            <div class="form-outline mb-4">
                <h4 >Upload Actions</h4>
                <input type="file" class="form-control form-control-lg" id="uploadactions"/>
         
            </div>
            

            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-12">
                  <button id="submit" name="submit" class="btn btn-primary" routerLink="/dashboard" value="1">Submit</button>
                </div>
                <div>&nbsp;</div>
                <label class="col-md-4 control-label" for="cancel"></label>
                <div class="col-md-12">
                <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
               
                
        
              </div>
              

              <!-- <div class="text-center text-lg-start mt-4 pt-2"> 
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" >Create</button> -->

              <!-- </div> -->
  
           

        
  
          </form>
          </div>
        </div>
        </div>
      </div>
      </div>