
<section class="vh-100" style="background-color: #093992;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            </div>
  
            <p >Link has been sent to your email.</p>
           <p> Click the link to change your password</p>
  
            <div class="d-flex justify-content-between align-items-center">
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <p class="small fw-bold mt-2 pt-1 mb-0"> <a routerLink="/login"
                  class="link-danger">Back to login</a></p>
            </div>
          </form>
          </div>
        </div>
        </div>
      </div>
      </div>
    </section>