<section class="vh-100" style="background-color: #093992;">
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <label for=" formControlTextarea1"><b>Name of bot</b></label>

          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">

            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input label">
            </div>

            <div class="form-group">
                <label for=" formControlTextarea1"><b>Textarea</b></label>
                <textarea class="form-control" id="formControlTextarea1" rows="4"></textarea>
            </div>

              <div class="text-center text-lg-start mt-4 pt-2">

                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;"><a routerLink="/dashboard" class="link-danger">Cancel</a></button>
                  
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" >Create</button>

              </div>
  
           

        
  
          </form>
          </div>
        </div>
        </div>
      </div>
      </div>