<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #093992;">
  <div class="container">

      <a class="navbar-brand" routerLink="#"><b>ChatBot</b></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobileToggle" aria-controls="navbarMobileToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarMobileToggle">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/dashboard">Back to Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/create-bot">Create Bot</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/edit-bot">Edit Bot</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/stories">Stories</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/entities">Entities</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/webhooks">Webhooks</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="/console">Console</a>
              </li>
          </ul>


          <div class="btn-group float-end">
              <a routerLink="#" class="dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown">
              <i class="fa fa-user-circle-o fa-2x"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                  <li><a routerLink="/forgot-password" class="dropdown-item"><i class="fa fa-unlock-alt"></i> Change Password</a>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a routerLink="#" class="dropdown-item"><i class="fa fa-cogs"></i> Settings</a>
                  </li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a routerLink="/login" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
          </div>
      </div>
     
  </div>
</nav>

<section class="vh-100" style="background-color:#093992;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Create Bot</h3>

          <form>
            <div class="form-outline mb-4">
                <input type="Name" id="typeEmailX-2" placeholder="Bot name" class="form-control form-control-lg" />
                <label class="form-label" for="typeX-2"></label>
              </div>
              
            <div class="form-group">
                <label for=" formControlTextarea1"><b>Additional Information</b></label>
                <textarea class="form-control" id="formControlTextarea1" placeholder="Text" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-12">
                  <button id="submit" name="submit" class="btn btn-primary" value="1">Create</button>
                </div>
                <div>&nbsp;</div>
                <div class="col-md-12">
                <button type="reset" class="btn btn-default pull-right">Cancel</button>
                </div>
               
                
        
              </div>
              <div>&nbsp;</div>
              <p class="mx-auto"><a routerLink="/dashboard"
                class="link-danger">Back to Dashboard</a></p>

              <!-- <div class="text-center text-lg-start mt-4 pt-2"> 
                <button type="button" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;" >Create</button> -->

              <!-- </div> -->
  
           

        
  
          </form>
          </div>
        </div>
        </div>
      </div>
      </div>